.renderPanel{
    .panelGridView {
        .leftGridPanel {
            float: left;
            width: 20%;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            li{
                img {
                    width: 100px;
                    display: block;
                }
            }
            }
        }
        .rightGridPanel {
            float: left;
            width: 80%;
            overflow: auto;
            height: 750px;
            .thumbnail{
                float: left;
                width: 200px;
                height: 200px;
                padding: 30px;
            img {
               width:100%; 
            }
        }
        }
    }
}